* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.continer {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #fffdef;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 40%;
    display: flex;
    background: rgb(166, 171, 144);
    background: linear-gradient(180deg, #a6ab98 0%, #e9edc9 100%);
}

.text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img{
    width: 50%;
    height: 100%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    background-image: url(../img/bienvenidosGanado.png);
    background-size: cover;
}

.content{
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.clima{
    width: 60%;
    height: 70%;
    background: rgb(166, 171, 144);
    background: linear-gradient(90deg, #ccd5ae 0%, #e9edc9 100%);
    border: 4px solid #2b3701;
    border-radius: 10%;
}

.options{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    height: 90%;
    margin-left: 20%;
    align-items: center;
}

.ganado, .potreros, .nomina, .cultivos{
    background-color: #e9edc9;
    width: 90%;
    height: 60%;
    border-radius: 10%;
    border: 3px solid #2b3701;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
}

.ganado> h1, 
.potreros> h1, 
.nomina> h1, 
.cultivos> h1{
    font-size: 100%;
}

.ganado> .img,
.cultivos> .img,
.potreros> .img,
.nomina> .img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10%;
}
.ganado> .img{
    background-image: url(../img/optionGanado.jpg); 
}

.cultivos> .img{
    background-image: url(../img/cultivos.jpg);
}

.potreros> .img{
    background-image: url(../img/potreros.jpg);
}

.nomina> .img{
    background-image: url(../img/nomina.jpg);
}

